*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header{
    height: 80px;
    background: #ee3228ed;
    padding: 0 50px ;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*position: fixed;
    left: 0;
    top: 0;
    right: 0;*/
}
.logo{
    text-transform: uppercase;
    color: #221215;
    font-weight: 120;
    letter-spacing: 5px;
}
.menu a{
    color: rgb(244, 238, 238);
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 10px;
    transition: 0.4s;
}
.mostrar-menu,
.esconder-menu{
    font-size: 30px;
    cursor:pointer;
    display: none;
    /*transition: 0.4s;*/
}
.mostrar-menu{
    order: 1;
}
.menu a:hover,
.mostrar-menu:hover,
.esconder-menu:hover{
     color: #141411;
}
#check{
    display:none;
}
/*baner*/
#banner{
    padding:  0 120px;
    background-image: url("media/woman.jpg");
    height: 50vh;
    background-size: cover;
    background-position: center;
    padding-top: 12rem;
 }
 .contenido-banner{
    position: relative;
    color: rgb(247, 240, 241);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
 }
 .contenido-banner h3{
    font-size: 25px;
    font-weight: 40PX;
    padding: 10px 0px;
    text-align: center;
 }

/*responsi*/
@media(max-width:788px){

    .mostrar-menu,
    .esconder-menu{
        display: block;
    }
    .menu{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #e52235;
        right: -100%;
        top: 0;
        text-align: center;
        padding:  100px 0px;
        z-index: 100;
        transition: 0.8s;  
        }
       .menu a{
        display: block;
        padding: 20px;
        }
       .esconder-menu{
        position: absolute;
        top: 40px;
        right: 40px;
        }
        #check:checked ~ .menu{
            right: 0; 
            }
            #personas{
                flex-direction: column;
               }
}
/*main*/
.main{
    padding: 20px;
    text-align: center;
}
/*sobre nosotros*/
#nosotros .contenedor{
    text-align: center;
    padding: 40px 12px;
    /*background: rgb(72, 129, 131);*/
    margin: 2px;
}
#nosotros .img-contenedor{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    );
}
@media (min-width:720px){
    #nosotros .contenedor{
        display: flex;
        justify-content: center;
        
    }
    #nosotros .texto-nosotros{
        width: 50%;
        max-width: 600px;
        text-align: initial;
        padding: 0px 50px;
        display: flex;
        flex-direction: column;
        justify-content:center ;

    }
    #nosotros .img-contenedor{
        background-image: linear-gradient(
        0deg,
        rgba(17, 11, 11, 0.5),
        rgba(0,0,0,0.5)
    )
    ,url("media/the-young-.jpg");
    background-size: cover;
    background-position: center center;
    height: 400px;
    width: 400px;
    }
}
/*class portafolio*/
.portafolio{
    background: #d06c9e;
    text-align: center;
    margin-top:5px;
}
.galeria-port{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.imagen-port{
    width: 24%;
    margin-bottom: 10px;
    height: 300px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
}
.imagen-port > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.hover-galeria{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(0);
}
.hover-galeria img{
    width: 50px;
}
.hover-galeria p{
    color: rgb(11, 10, 10);
    transition: transform .5s;
    background: rgba(245, 241, 246, 0.7);
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.imagen-port:hover .hover-galeria{
    transform: scale(1);
}
/*nuestras prendass*/
.container-products{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  
}
.product{
    border: 2px solid #ccc;
    padding: 5px;
    position: relative;
}
.product:before {
    content: "new";
    background: #db4a02;
    padding: 10px;
    width: 60px;
    position: absolute;
    top: 20px;
    right: 10px;
    transform: rotate(-90deg);
    color: rgb(4, 4, 21);
}
.product_img{
    width: 90%;
    height: 90%;
    object-fit: cover; 
}
.product_title{
    position: absolute;
    bottom: 0;
    width: 50%;
    padding: 40px;
    color: #24120f;
    font-size: 1.4em;
    text-align:left;
    
}
.producto_price{
    color: #f0230c;
    position: absolute;
    bottom: 0;
    padding: 40px 10px;
    font-size: 1.4em;
    
}
@media (min-width:780px){
    .product_img{
        width: 90%;
        height: 90%;
        object-fit: cover; 
    }
    .product_title{
        position: absolute;
        bottom: 0;
        width: 50%;
        margin: 0;
        padding: 60px 150px;
        font-size: 1.4em;}
}
/*section-caracteristicas*/
#caracteristicas .container{
    text-align:center;
}
#caracteristicas li{
    margin: 16px 0px;
    font-weight: bold;
}

/*pie de pagina*/
.pie-pagina{
    width: 100%;
    background-color: #404052;

}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-gap:50px;
    padding: 45px 0px;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.pie-pagina .grupo-1 .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
    text-align: center;
}

.pie-pagina .grupo-1 .red-social a{
    display:inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
    justify-content: center;
    align-items: center;
    transition: all 300ms eace;
}
.pie-pagina .grupo-1 .red-social a:hover{
    color: aqua;
}
.pie-pagina .grupo-2{
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}
@media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-gap:50px;
        padding: 45px 0px;
    }

}